@tailwind base;
@tailwind components;
@tailwind utilities;

/** SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #404040;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202020;
  border-radius: 8px;
}

.markdown > * {
  all: revert;
}